// color neutral
$color_neutral: #909194;
$color_neutral_light: #e2e2e6;
$color_white: #fff;

// color primary
$color_primary: #0047bb;
$color_primary_light: #4270e4;

// color success
$color_success: #006d36;
$color_success_light: #ccebc3;

// color evidence
$color_evidence: #df7400;
$color_evidence_light: #ffdcc3;

// color error
$color_error: #ba1b1b;
$color_error_light: #ffdad4;
